* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: rgb(243, 244, 246);
}

:root {
  --grayish: #2d2d2d52;
  --bg: #121212;
  --bg1: #1e1f1f;
  --bg2: #2d2c2d;
  --bg3: #2d2c2d;
  --bg4: #2d2c2d;
  --primary: #bb87fd;
  --light-primary: #bb87fd;
  --secondary: #03dac5;
  --light-secondary: #03dac5;
  --overlay: #51445f;
  --white: #ffffff;
  --text: #fefffe;
  --gray-text: #d0d4ce;
  --width: 500px;
  --x: 70deg;
  --speed: 1s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: button;
  text-transform: none;
  cursor: pointer;
}

#fromleft {
  animation: fromleft 1s ease-in-out;
}
#fromright {
  animation: fromright 1s ease-in-out;
}
#fromtop {
  animation: fromtop 1s ease-in-out;
}
#frombottom {
  animation: frombottom 1s ease-in-out;
}
#fadein {
  animation: fadein 1s ease-in-out;
}
#scaleup {
  animation: scaleup 1s ease-in-out;
}
@keyframes fromleft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromright {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes fromtop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes frombottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleup {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 84px;
  height: 84px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--secondary);
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--secondary);
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--secondary);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.load_icon{
  color: var(--light-secondary);
  font-size: 30px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #242424;
  margin-left: 18px;
  border-radius: 100vw;
  margin-block: 5px;
}
::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border-radius: 100vw;
  border: 1px solid #222222;
}
