.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: transparent;
  border-bottom: 1px solid var(--bg3);
  padding: 0 2.5rem;
  position: relative;
  z-index: 1;
}
.left {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.left .logo {
  width: 38px;
  height: 38px;
  background-color: var(--secondary);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.8rem;
  transition: 0.3s;
}
.logo:hover {
  color: #ff8d29;
  background-color: var(--white);
}
.left h2 {
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  color: var(--white);
}
.right {
  display: flex;
  align-items: center;
  padding: 0px 8px;
  gap: 0rem;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.right button {
  display: flex;
  align-items: center;
  line-height: 46px;
  width: 46px;
  height: 46px;
  padding-left: 8px;
  background-color: var(--bg4);
  border-radius: 50%;
  font-size: 30px;
  color: var(--white);
  transition: 0.3s;
  position: absolute;
  left: -48px;
  overflow: hidden;
}
.right p {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
}
.right:hover button {
  position: absolute;
  width: 145px;
  border-radius: 100vw;
  z-index: -1;
}

/* ripple effecr of button */
.right button:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  background: rgba(156, 156, 156, 0.5);
  opacity: 0;
  border-radius: 100%;
  transform: scale(1, 1) translate(-50%);
  transform-origin: 50% 50%;
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

.right button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
}

.user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--secondary);
  overflow: hidden;
}
.user_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logout {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 24px;
  transition: 0.3s;
  padding-left: 4px;
  margin-left: -2px;
}
.logout:hover {
  background-color: #2d2d2d;
  margin-left: 10px;
}
.save_con {
  margin-right: 1rem;
}
.saved,
.saving {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 19px;
  font-weight: 300;
}
.saved {
  color: rgb(67, 252, 67);
}
.saving{
  color: var(--white);
}

@media screen and (max-width: 750px) {
  .nav_container {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 455px) {
  .nav_container {
    padding: 0 1rem;
  }
  .left .logo{
    width: 34px;
    height:34px;
    font-size: 1.4rem;
  }
  .left h2{
    font-size: 23px;
  }
  .save_con{
    display: none;
  }
}
