.toggle_switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 25px;
}
.toggle_switch input[type="checkbox"] {
  display: none;
}
.toggle_switch .switch {
  position: absolute;
  cursor: pointer;
  background-color: #1e1f1f;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease;
}
.toggle_switch .switch::before {
  position: absolute;
  content: "";
  left: -2px;
  top: -1px;
  width: 26px;
  height: 26px;
  background-color: #333333;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.toggle_switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(25px);
  background-color: #06ffe7;
}
.toggle_switch input[type="checkbox"]:checked + .switch {
  background-color: rgba(77, 255, 255, 0.6);
}
