.transition {
  background-color: rgba(45, 45, 45, 0.63);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  overflow: hidden;
}
.wrapper {
  position: relative;
}
.check {
  position: absolute;
  width: 120px;
  height: 30px;
  cursor: pointer;
  left: 0;
  top: 0;
  opacity: 0;
}
.transition label {
  font-size: 16px;
  color: var(--gray-text);
}
.check:checked + .transition {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-bottom: 3px solid var(--secondary);
}
