.hero_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 0 2.5rem;
}
.hero_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  /* border: 1px solid red; */
}
.hero_content .left_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max(55%, 400px);
}
.hero_content .left_content .hero_title {
  font-size: 3.3rem;
  font-weight: 600;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.hero_content .left_content p {
  font-size: 1.3rem;
  color: var(--gray-text);
}

.hero_content .right_content {
  display: flex;
  width: max(50%, 400px);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-block: 2rem;
}
.logo_name {
  position: relative;
  display: flex;
  flex-direction: column;
}

.logo_name h3 {
  color: #fff;
  position: absolute;
  /* transform: translate(150%, -100%); */
  letter-spacing: 0.1rem;
}

.logo_name h3:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--light-secondary);
}

.logo_name h3:nth-child(2) {
  color: var(--light-secondary);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
.service_con {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  flex-direction: column;
  gap: 2rem;
}
.service_title {
  font-size: 34px;
  font-weight: 500;
  color: transparent;
  text-shadow: 0 0 5px #fff;
  cursor: pointer;
}
.service_title:hover {
  color: white;
}
.feature_con {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature {
  width: 350px;
  border-radius: 8px;
  background-color: var(--grayish);
  cursor: pointer;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 16px;
  border: 2px solid #2d2d2d;
}
.icon {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: var(--light-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: var(--white);
  position: absolute;
  top: -15px;
  left: -15px;
  text-shadow: 0 0 5px #fff;
  filter: blur(2px);
  opacity: 0.5;
  transition: 0.3s;
}
.feature:hover .icon {
  filter: blur(0px);
  opacity: 1;
}
.feature_title {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white);
  opacity: 0.8;
}
.feature_des {
  font-size: 1.2rem;
  color: var(--gray-text);
  opacity: 0.8;
  text-align: center;
  margin-top: -0.5rem;
}
/* who's is using styling*/
.who_con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0rem;
}
.who {
  width: 90%;
  border: 1px solid #2d2c2d;
  height: fit-content;
  background-color: #141414;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding:2.5rem;
  height: 250px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.who_left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  justify-content: center;
}
.who_title {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white);
}
.who_des {
  font-size: 1.3rem;
  color: var(--gray-text);
}
.who_right {
  width: 35%;
  display: flex;
  gap: 2rem;
  position: relative;
}
.who_column1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: -60px;
  left: 0;
}
.who_column2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: -40px;
  left: calc(1rem + 120px);
}
.who_column3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: -100px;
  left: calc(1rem + 120px + 120px + 1rem);
}
.who_img {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  background-color: #1e1e1e;
  transition: 0.3s;
}
.who_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: 0.3s;
}
.who_img:hover .who_pic {
  filter: brightness(1);
}
.who_img:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  outline: 2px solid var(--bg2);
}
/*stop the animation while hovering the who_img*/
.who_img:hover .who_column1 {
  animation-play-state: paused;
}

.who:hover .who_column1 {
  animation: updown 4s ease-in-out infinite;
}
.who:hover .who_column2 {
  animation: updown 6s ease-in-out infinite;
}
.who:hover .who_column3 {
  animation: updown 4s ease-in-out infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-110px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Responsive media query for 1180px less device */
@media screen and (max-width: 1180px) {
  .hero_container {
    height: fit-content;
    padding: 3rem 1.5rem;
  }
  .hero_content {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero_content .left_content {
    width: 80%;
    text-align: center;
  }
  .hero_content .right_content {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  .logo_name {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width:1000px) {
  .who_title{
    font-size: 3rem;
  }
  .who_des{
    font-size: 1.2rem;
  }
}
@media screen and (max-width:830px) {
  .who_con{
    display: none;
  }
  
}
