.profile_container {
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.profile_data,
.profile_status,
.profile_newsletter {
  border-radius: 4px;
  background-color: rgba(45, 45, 45, 0.53);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border: 1px solid var(--overlay);
}
.profile_data {
  width: 400px;
  height: 200px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  gap: 1rem;
}
.profile_status {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.status_con {
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
}
.views,
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.green {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(95, 209, 100, 1);
}
.title {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.56);
}
.data {
  font-size: 1.4rem;
  color: var(--text);
  display: flex;
  align-items: center;
  gap: 6px;
}
.change_status {
  display: flex;
  justify-content: center;
}
.change_text {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  color: var(--gray-text);
  gap: 12px;
}
.profile_newsletter {
  width: 450px;
  height: 65px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.8rem;
}
.mail {
  color: var(--gray-text);
  font-size: 2.8rem;
}
.email_title {
  font-size: 1.5rem;
  color: var(--gray-text);
  display: flex;
  align-items: center;
  gap: 12px;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  color: rgba(255, 255, 255, 0.5);
  margin-top: -5px;
  font-size: 12px;
}

.left {
  width: 170px;
  height: 170px;
  border-radius: 4px;
  overflow: hidden;
  outline: 2px solid #3e3e3e;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 2rem;
}
.name_con {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: 1.1rem;
  color: rgba(149, 149, 149, 1);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}
.name {
  font-size: 1.1rem;
  color: var(--gray-text);
}
.icon {
  font-size: 1.3rem;
}

.visit_btn {
  padding: 0.5rem 1rem;
  border: 1.5px solid #3e3e3e;
  border-radius: 4px;
  color: #ababab;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.3s;
}
.visit_btn:hover {
  background-color: #3e3e3e;
  color: var(--text);
}
